html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
ul {
  list-style-type: none;
}
.marginal { 
	margin-top:5px; 
	margin-right:5px; 
}
.link { 
	cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 20px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.modal-dialog-full {
  width: 98%;
  height: 92%;
  padding: 0;
  vertical-align: middle;
}

.modal-content-full {
  height: 99%;
  text-align: center;
  vertical-align: middle;
}
.img-responsive {
    max-height: calc(100vh - 225px);
}