<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.sprinfgramework.org/schema/security"
	th:include="defaultTemplate::full">

<div th:fragment="mainContent">

	<script th:src="@{/js/album.js}"></script>
	
	<div th:if="${activeFolder != '/'}" class="alert alert-primary" role="alert" th:text="'Active folder: ' + ${activeFolder}">
	</div>
	
	<ul class="row first" th:if="*{pictures != null}">
	
		<th:block th:each="picture : *{pictures}">
			<li>
				<div class="marginal">
					<a th:href="'/picture/' + ${picture.value}">
                		<img th:alt="${picture.key}"  th:src="${#strings.replace(picture.value,'@','/')}" class="img-thumbnail" style="max-height:200px;height:auto;width:auto;"/>
					</a>
				</div>
			</li>
		</th:block>
		
	</ul>
	
	
	<div th:if="*{folders != null}" class="alert alert-light" role="alert">
		<h5>Folders</h5>
	
		<ul>
			<th:block th:each="folder : *{folders}">
				<li><a th:href="'/folder/' + ${folder.value}"><img src="/images/folder.png" th:text="${folder.key}" height="30px"/></a></li>
			</th:block>
		</ul>
	</div>
	
	<div class="alert alert-warning" role="alert" th:if="*{folders == null && pictures == null}">
  		Ops ... this folder does not have any images or subfolders
		<a href="javascript:history.back()" th:if="${activeFolder != '/'}">Go back</a>
	</div>
	
	 
</div>


</html>