<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.sprinfgramework.org/schema/security"
	th:include="defaultTemplate::full">

<div th:fragment="mainContent">

	<script type="text/javascript">    
		setTimeout("window.open('/', '_self');", 1000);
	</script>

	<div class="alert alert-warning" role="alert" th:text="'Album is refreshing, please wait. Progress: ' + ${progress} + '%'">
	</div>
	
	<a href="/" class="btn btn-info" role="button"> 
		<span class="glyphicon glyphicon-home"> Home</span>
	</a>

</div>


</html>